#clock{
    display: flex;
    justify-content: center;
}

.clockblock{
    color: white;
    background-color: black;
    height: 200px;
    width: 100px;
    margin-right: 20px;
    font-size: 200px;
    text-align: justify;
}

.button{
    height: 50px;
    width: 100px;
    background-color: aqua; 
    margin: 10px;
    text-align: center;
}

#container{
    display: flex;
    justify-content: center;
}
        